.fondo {
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}

.logo {
	margin-left: 87px;
	margin-top: 80px;
	width: 205px;
	height: 120px;
}

.login {
	background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #FFCEE6;
}

.signup {
	background-color: #EA0B8C;
	color: #FFCEE6;
}

.btn:hover {
	background-color: #FFCEE6;
	color: black;
}

.btn {
	position: relative;
	margin-left: 100px;

}

.fa-chevron-left {
	position: relative;
	margin-right: 400px;
	color: #EA0B8C;
}

.fa-chevron-down {
	color: black;
}

.bandera-chile {
	width: 22px;
	height: 16px;
}

.paises {
	margin: 0px auto;
	width: 300px;
}

.next {
	background-color: #EA0B8C;
	width: 224px;
	height: 44px;
	margin: 0px auto;
	color: #FFCEE6;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

#map {
  height: 100%;
}

#profile {
	border-radius: 50%;
	width: 10%;
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 10%;
  border: 0;
  opacity: 0.5;
}

.icono:hover {
	color: #EA0B8C;
}

.icono {
	font-size: 30px;
}

.direccion {
	position: absolute;
	bottom: 100px;
	width: 70%;
	padding: 0;
	margin: 0 15%;
}

.color {
	background-color: #EA0B8C; 
}